.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 270px;
  border: 2px soild gray;
  align-items: center;
}
.display {
  height: 10%;
  border: 2px solid black;
  width: 270px;
  text-align: right;
}
button {
  height: 50px;
  width: 60px;
}
.row {
  display: flex;
  justify-content: space-between;
}
